In [6]:
!pip install pandas==1.4.4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandas==1.4.4
  Downloading pandas-1.4.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.7/11.7 MB 72.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.8/dist-packages (from pandas==1.4.4) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.8/dist-packages (from pandas==1.4.4) (2022.7)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.8/dist-packages (from pandas==1.4.4) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.8.1->pandas==1.4.4) (1.15.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.3.5
    Uninstalling pandas-1.3.5:
      Successfully uninstalled pandas-1.3.5
Successfully installed pandas-1.4.4

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)

1.4.4

In [2]:
#get the current table
GITHUB_URL = 'https://raw.githubusercontent.com/liampearson/nndss/main/nndss.csv'
table = pd.read_csv(GITHUB_URL)
table

,disease_group,disease_name,disease_code,act,nsw,nt,qld,sa,tas,vic,...,act_cumulative_sum,nsw_cumulative_sum,nt_cumulative_sum,qld_cumulative_sum,sa_cumulative_sum,tas_cumulative_sum,vic_cumulative_sum,wa_cumulative_sum,aus,aus_cumulative_sum
0,Vectorborne diseases,Flavivirus infection (unspecified),1,0.0,0.0,0,0,0,0.0,0.0,...,0.0,0.0,0,0,0,0.0,0.0,0,0.0,0.0
1,Vectorborne diseases,Flavivirus infection (unspecified),1,0.0,0.0,0,0,0,0.0,0.0,...,0.0,0.0,0,0,0,0.0,0.0,0,0.0,0.0
2,Vectorborne diseases,Flavivirus infection (unspecified),1,0.0,0.0,0,0,0,0.0,0.0,...,0.0,0.0,0,0,0,0.0,0.0,0,0.0,0.0
3,Vectorborne diseases,Flavivirus infection (unspecified),1,0.0,0.0,0,0,0,0.0,0.0,...,0.0,0.0,0,0,0,0.0,0.0,0,0.0,0.0
4,Vectorborne diseases,Flavivirus infection (unspecified),1,0.0,0.0,0,0,0,0.0,0.0,...,0.0,0.0,0,0,0,0.0,0.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1353,Zoonoses,Monkeypox virus (MPXV) infection++,84,0.0,8.0,0,0,0,0.0,8.0,...,2.0,23.0,0,1,1,0.0,16.0,0,16.0,43.0
1354,Zoonoses,Monkeypox virus (MPXV) infection++,84,0.0,8.0,0,1,0,0.0,9.0,...,2.0,31.0,0,2,1,0.0,25.0,1,19.0,62.0
1355,Zoonoses,Monkeypox virus (MPXV) infection++,84,0.0,8.0,0,1,1,0.0,18.0,...,2.0,39.0,0,3,2,0.0,43.0,4,31.0,93.0
1356,Zoonoses,Monkeypox virus (MPXV) infection++,84,0.0,9.0,0,0,0,0.0,19.0,...,2.0,48.0,0,3,2,0.0,62.0,5,29.0,122.0
1357,Zoonoses,Monkeypox virus (MPXV) infection++,84,1.0,3.0,0,1,0,0.0,1.0,...,3.0,51.0,0,4,2,0.0,63.0,6,7.0,129.0

In [3]:
# when was the latest update?
table.end_date.max()

'2022-09-18'

In [4]:
urls = [
'https://www.health.gov.au/sites/default/files/documents/2022/11/national-notifiable-diseases-surveillance-system-nndss-fortnightly-reports-19-september-to-2-october-2022-nndss-fortnightly-table-19-september-to-2-october-2022.xlsx'#,
#'https://www.health.gov.au/sites/default/files/documents/2022/11/national-notifiable-diseases-surveillance-system-nndss-fortnightly-reports-3-october-to-16-october-2022-nndss-fortnightly-table-3-october-to-16-october-2022.xlsx'

#17 to 30 Oct
#'https://www.health.gov.au/sites/default/files/2022-11/3._fortnight_22_-_07_nov2022_adt_-_web.xlsx',

#31 Oct to 13 Nov
#'https://www.health.gov.au/sites/default/files/2022-12/3._fortnight_23_-_21_nov2022_adt_-web.xlsx',

#14 to 27 Nov
#'https://www.health.gov.au/sites/default/files/2022-12/national_notifiable_diseases_surveillance_system_nndss_fortnightly_reports_-_14_to_27_november_2022.xlsx',

#
#'https://www.health.gov.au/sites/default/files/2022-12/national_notifiable_diseases_surveillance_system_nndss_fortnightly_reports_-_28_november_to_11_december_2022.xlsx'

]

In [ ]:
#iterate over each report/url/excel_file
#There's usually just one but have looped it incase I forget/miss some weeks.

for url in urls:
  print("importing: ",url)
  # import the data
  df = pd.read_excel(url, header=2)

  #get the report start and end dates
  start_date = df['This reporting period'].iloc[0].strftime('%Y-%m-%d')
  end_date = df['This reporting period'].iloc[1].strftime('%Y-%m-%d')

  print("report for dates: {} --> {}; processing...".format(start_date, end_date))

  # DATA PREP ------------------
  #tidy up the header names: make all lower case
  df = df.rename(columns=str.lower)

  #replace spaces in header names with underscore
  df.columns = df. columns.str.replace(' ','_')

  #Get the index where the footnotes begin - we don't want these
  footnote_index = df[df['disease_group'].str.contains('Footnotes')==True].index.values[0]

  # Only keep the rows BEFORE the footnotes index
  # -1 to also remove the totals row
  df = df[df.index < footnote_index-1]
  #Forward fill the 'Disease group' labels (they're merged cells in excel)
  df['disease_group'] = df['disease_group'].fillna(method = 'ffill')

  #drop the date rows
  df.drop(index=[0,1], inplace=True)

  #convert disease code to int
  df['disease_code'] = df['disease_code'].astype(int)

  #convert report numbers to int

  # we just want the raw numbers, not the % change etc etc
  keep_headers = ['disease_group', 'disease_name', 'disease_code', 'act', 'nsw', 'nt',
                  'qld', 'sa', 'tas', 'vic', 'wa']

  # reduce dataframe to just the columns we want
  df = df[keep_headers]

  #add start and end dates
  df['start_date'] = start_date
  df['end_date'] = end_date

  # for each state, strip punctuation and convert the state numbers to INT & 
  states = ['act', 'nsw', 'nt','qld', 'sa', 'tas', 'vic', 'wa']
  
  #strip punctuation
  for state in states:
    # we need to remove all punctuation (like commas and asterisks), but that will cause 10.0 to go to 100 so:
    df[state] = df[state].astype(str).str.replace(".0", "", regex=False)

   #if df[state].dtype==object: #then we need to clean the numbers
    df[state] = df[state].astype(str).str.replace("[^\w\s]", "", regex=True)

    # replace NN (not notifiable) with nulls
    df[state].replace('NN', np.nan, inplace=True)

    # workaround since Int64 cannot convert objects
    df[state] = pd.to_numeric(df[state], errors='coerce').astype('Int64')

  # add this report to the rest of the data
  table = table.append(df)

  print("report for period: {} --> {}; completed".format(start_date, end_date))

importing:  https://www.health.gov.au/sites/default/files/documents/2022/11/national-notifiable-diseases-surveillance-system-nndss-fortnightly-reports-19-september-to-2-october-2022-nndss-fortnightly-table-19-september-to-2-october-2022.xlsx

## Get Cumulative Sums and AUS-wide totals

In [ ]:
states = ['act', 'nsw', 'nt','qld', 'sa', 'tas', 'vic', 'wa']

for state in states:
  table[state+'_cumulative_sum'] = table.groupby(['disease_code'])[state].cumsum()

#row -wise sum of the states
table['aus'] = table[states].sum(axis=1)
table['aus_cumulative_sum'] = table.groupby(['disease_code'])['aus'].cumsum()

In [ ]:
#row -wise sum of the states
table['aus'] = table[states].sum(axis=1)
table['aus_cumulative_sum'] = table.groupby(['disease_code'])['aus'].cumsum()

## Inspect a disease

In [ ]:
# view all the columns but with the start_date first
# see if latest dates were added
table[table['disease_code']==84][['start_date', 'end_date', 'act', 'nsw', 'nt',
       'qld', 'sa', 'tas', 'vic', 'wa','aus_cumulative_sum']] #+table.columns.to_list()

### Sort table & save file

In [ ]:
table.sort_values(by=['disease_code', 'start_date'], inplace=True)

In [ ]:
table.to_csv('nndss.csv', index=False)